In [4]:
import pandas as pd

df = pd.read_csv('./data/raw/kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,7834800180,11/30/2021,1555000.0,5,2.0,1910,4000,1.5,NO,NO,...,PUBLIC,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940
30151,194000695,6/16/2021,1313000.0,3,2.0,2020,5800,2.0,NO,NO,...,PUBLIC,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851
30152,7960100080,5/27/2022,800000.0,3,2.0,1620,3600,1.0,NO,NO,...,PUBLIC,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585
30153,2781280080,2/24/2022,775000.0,3,2.5,2570,2889,2.0,NO,NO,...,PUBLIC,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908
30154,9557800100,4/29/2022,500000.0,3,1.5,1200,11058,1.0,NO,NO,...,PUBLIC,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634

In [5]:
df.address.value_counts()[df.address.value_counts() > 1]

Avenue, 108 Foothill Blvd, Rancho Cucamonga, California 91730, United States    38
Delridge Way Southwest, Seattle, Washington 98106, United States                24
9th Ave, Nebraska City, Nebraska 68410, United States                           21
South 35th Avenue, Bellevue, Nebraska 68123, United States                      20
A, Leadwood, Missouri 63653, United States                                      17
                                                                                ..
10th Avenue, Mineola, New York 11501, United States                              2
Stone Avenue, Millerton, New York 12546, United States                           2
8th Avenue, West Babylon, New York 11704, United States                          2
4805 Delridge Way SW, Seattle, Washington 98106, United States                   2
B, Park Hills, Missouri 63601, United States                                     2
Name: address, Length: 169, dtype: int64

In [6]:
df.loc[df.address == 'Delridge Way Southwest, Seattle, Washington 98106, United States'].sort_values('price')[['id','date', 'price', 'sqft_lot', 'bathrooms', 'address']]

,id,date,price,sqft_lot,bathrooms,address
5297,880000205,7/9/2021,399999.0,1125,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
29662,1773100964,4/8/2022,485000.0,1286,2.5,"Delridge Way Southwest, Seattle, Washington 98..."
5090,4365700220,10/7/2021,515000.0,1366,3.0,"Delridge Way Southwest, Seattle, Washington 98..."
11873,9485700182,7/23/2021,515000.0,792,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
27884,9485700180,8/12/2021,520000.0,796,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
27104,9485700179,9/2/2021,525000.0,639,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
9359,9485700184,7/28/2021,525000.0,678,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
26157,9485700177,8/4/2021,525000.0,1232,2.5,"Delridge Way Southwest, Seattle, Washington 98..."
20934,9485700186,7/23/2021,525000.0,1235,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
5001,880000207,8/9/2021,535000.0,1353,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
7604,9485700178,7/23/2021,535000.0,678,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
16878,9485700183,8/18/2021,535000.0,639,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
10293,1773600113,4/23/2022,539950.0,560,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
20912,1773600114,4/23/2022,549950.0,560,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
15130,1773600112,4/23/2022,569950.0,560,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
12642,1773600111,4/23/2022,570000.0,560,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
18510,1773100965,10/18/2021,575000.0,1234,2.5,"Delridge Way Southwest, Seattle, Washington 98..."
29152,1773600116,4/23/2022,595000.0,2840,2.0,"Delridge Way Southwest, Seattle, Washington 98..."
9114,4302200098,8/28/2021,605000.0,1853,2.5,"Delridge Way Southwest, Seattle, Washington 98..."
4057,1773100545,6/11/2021,629000.0,920,2.5,"Delridge Way Southwest, Seattle, Washington 98..."
6905,1773100986,7/27/2021,645000.0,1331,2.5,"Delridge Way Southwest, Seattle, Washington 98..."
17601,2113200575,4/13/2022,715000.0,1058,3.0,"Delridge Way Southwest, Seattle, Washington 98..."
22043,2113200576,4/12/2022,730000.0,1060,3.0,"Delridge Way Southwest, Seattle, Washington 98..."
21075,1773600100,5/3/2022,837000.0,2032,2.5,"Delridge Way Southwest, Seattle, Washington 98..."

In [7]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance', 'view',
       'condition', 'grade', 'heat_source', 'sewer_system', 'sqft_above',
       'sqft_basement', 'sqft_garage', 'sqft_patio', 'yr_built',
       'yr_renovated', 'address', 'lat', 'long'],
      dtype='object')

In [17]:
df['zipcode'] = df.address.str.slice(start=-20, stop=-15).astype('int64')

In [18]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,zipcode
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052,98055
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591,98133
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520,98178
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020,98118
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188,98027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,7834800180,11/30/2021,1555000.0,5,2.0,1910,4000,1.5,NO,NO,...,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940,98103
30151,194000695,6/16/2021,1313000.0,3,2.0,2020,5800,2.0,NO,NO,...,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851,98116
30152,7960100080,5/27/2022,800000.0,3,2.0,1620,3600,1.0,NO,NO,...,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585,98122
30153,2781280080,2/24/2022,775000.0,3,2.5,2570,2889,2.0,NO,NO,...,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908,98055
30154,9557800100,4/29/2022,500000.0,3,1.5,1200,11058,1.0,NO,NO,...,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634,98148

In [19]:
# https://www.zillow.com/browse/homes/wa/king-county/

kc_zipcodes = [98052,98115,98103,98092,98042,98023,98105,98003,98034,98118,98133,98058,98125,
               98031,98122,98033,98006,98032,98030,98004,98001,98059,98117,98056,98198,98168,
               98155,98027,98109,98002,98038,98144,98146,98074,98119,98007,98040,98029,98107,
               98011,98108,98072,98106,98178,98116,98112,98008,98053,98028,98126,98188,98102,
               98055,98075,98177,98022,98166,98199,98005,98121,98136,98045,98057,98019,98104,
               98077,98101,98065,98148,98070,98014,98354,98024,98051,98010,98047,98251,98134,
               98039,98195,98158,98068,98256,98288,98050,98132,98171,98184,98054,98009,98013,
               98015,98025,98035,98041,98062,98064,98063,98071,98073,98083,98089,98093,98111,
               98113,98114,98124,98127,98131,98129,98139,98138,98141,98145,98151,98154,98160,
               98164,98161,98165,98170,98174,98175,98181,98185,98190,98194,98191,98224,98471,98481]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
 25  zipcode        30155 non-null  int64
dtypes: float64(5), int64(11), object(10)
memory usage: 6.0+ MB

In [27]:
df = df.loc[df.zipcode.isin(kc_zipcodes)]
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,zipcode
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052,98055
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591,98133
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520,98178
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020,98118
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188,98027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,7834800180,11/30/2021,1555000.0,5,2.0,1910,4000,1.5,NO,NO,...,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940,98103
30151,194000695,6/16/2021,1313000.0,3,2.0,2020,5800,2.0,NO,NO,...,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851,98116
30152,7960100080,5/27/2022,800000.0,3,2.0,1620,3600,1.0,NO,NO,...,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585,98122
30153,2781280080,2/24/2022,775000.0,3,2.5,2570,2889,2.0,NO,NO,...,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908,98055
30154,9557800100,4/29/2022,500000.0,3,1.5,1200,11058,1.0,NO,NO,...,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634,98148

In [28]:
df.drop_duplicates(inplace = True)
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,zipcode
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052,98055
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591,98133
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520,98178
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020,98118
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188,98027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,7834800180,11/30/2021,1555000.0,5,2.0,1910,4000,1.5,NO,NO,...,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940,98103
30151,194000695,6/16/2021,1313000.0,3,2.0,2020,5800,2.0,NO,NO,...,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851,98116
30152,7960100080,5/27/2022,800000.0,3,2.0,1620,3600,1.0,NO,NO,...,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585,98122
30153,2781280080,2/24/2022,775000.0,3,2.5,2570,2889,2.0,NO,NO,...,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908,98055
30154,9557800100,4/29/2022,500000.0,3,1.5,1200,11058,1.0,NO,NO,...,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634,98148

In [29]:
df.address.value_counts()

Delridge Way Southwest, Seattle, Washington 98106, United States           24
Interlake Avenue North, Seattle, Washington 98103, United States           11
Northeast 201st Street, Woodinville, Washington 98072, United States       11
26th Avenue, Seattle, Washington 98122, United States                       9
12006 31st Ave NE, Seattle, Washington 98125, United States                 7
                                                                           ..
407 Index Place Northeast, Renton, Washington 98056, United States          1
16797 Northeast 121st Street, Redmond, Washington 98052, United States      1
13021 Northeast 104th Street, Kirkland, Washington 98033, United States     1
1927 Brook Avenue Southwest, Seattle, Washington 98126, United States       1
11207 Southeast 235th Place, Kent, Washington 98031, United States          1
Name: address, Length: 29054, dtype: int64

In [39]:
df.date = pd.to_datetime(df.date)