In [1]:
# Import libraries and load data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/raw/kc_house_data.csv')

In [2]:
# Extract zipcode from address string using regex
df['zipcode'] = df.address.str.extract('[\w \-.]+, [\w \-.]+, [\w \-.]+ (\d{5})').astype('int64')

In [3]:
# List of zipcodes in King County, WA
# https://www.zillow.com/browse/homes/wa/king-county/

kc_zipcodes = [98052,98115,98103,98092,98042,98023,98105,98003,98034,98118,98133,98058,98125,
               98031,98122,98033,98006,98032,98030,98004,98001,98059,98117,98056,98198,98168,
               98155,98027,98109,98002,98038,98144,98146,98074,98119,98007,98040,98029,98107,
               98011,98108,98072,98106,98178,98116,98112,98008,98053,98028,98126,98188,98102,
               98055,98075,98177,98022,98166,98199,98005,98121,98136,98045,98057,98019,98104,
               98077,98101,98065,98148,98070,98014,98354,98024,98051,98010,98047,98251,98134,
               98039,98195,98158,98068,98256,98288,98050,98132,98171,98184,98054,98009,98013,
               98015,98025,98035,98041,98062,98064,98063,98071,98073,98083,98089,98093,98111,
               98113,98114,98124,98127,98131,98129,98139,98138,98141,98145,98151,98154,98160,
               98164,98161,98165,98170,98174,98175,98181,98185,98190,98194,98191,98224,98471,98481]

In [4]:
# Drop values not in King County, drop duplicated rows
df = df.loc[df.zipcode.isin(kc_zipcodes)].copy()
df.drop_duplicates(inplace = True)

In [5]:
# Convert date column to datetime objects
df.date = pd.to_datetime(df.date)

# Create column representing season house was sold based off of month
def map_season(x):
    if x.month > 9:
        return 'Winter'
    elif x.month > 6:
        return 'Autumn'
    elif x.month > 3:
        return 'Summer'
    return 'Spring'

df['season'] = df.date.apply(lambda x: map_season(x))

In [6]:
# Notice that certain addresses have multiple records
df.address.value_counts()

Delridge Way Southwest, Seattle, Washington 98106, United States                  24
Northeast 201st Street, Woodinville, Washington 98072, United States              11
Interlake Avenue North, Seattle, Washington 98103, United States                  11
26th Avenue, Seattle, Washington 98122, United States                              9
12006 31st Ave NE, Seattle, Washington 98125, United States                        7
                                                                                  ..
33126 Southeast Stevens Street, Black Diamond, Washington 98010, United States     1
9709 South 209th Street, Kent, Washington 98031, United States                     1
10035 61st Ave S, Seattle, Washington 98178, United States                         1
5860 Northwest Lac Leman Drive, Issaquah, Washington 98027, United States          1
47418 Southeast 144th Street, North Bend, Washington 98045, United States          1
Name: address, Length: 29054, dtype: int64

In [7]:
# Extra records are a mess, multiple conflicting reports of sales price and other characteristics
df.loc[df.address == 'Delridge Way Southwest, Seattle, Washington 98106, United States'].sort_values('date')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,zipcode,season
4057,1773100545,2021-06-11,629000.0,3,2.5,1580,920,3.0,NO,NO,...,0,0,450,2015,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
5297,880000205,2021-07-09,399999.0,3,2.0,1260,1125,2.0,NO,NO,...,450,0,60,2011,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
7604,9485700178,2021-07-23,535000.0,3,2.0,1060,678,3.0,NO,NO,...,0,0,300,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
11873,9485700182,2021-07-23,515000.0,3,2.0,1120,792,2.0,NO,NO,...,380,0,300,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
20934,9485700186,2021-07-23,525000.0,3,2.0,1070,1235,2.0,NO,NO,...,390,0,300,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
6905,1773100986,2021-07-27,645000.0,3,2.5,1640,1331,3.0,NO,NO,...,350,240,0,2010,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
9359,9485700184,2021-07-28,525000.0,3,2.0,1060,678,3.0,NO,NO,...,0,0,300,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
26157,9485700177,2021-08-04,525000.0,3,2.5,1070,1232,2.0,NO,NO,...,390,0,300,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
5001,880000207,2021-08-09,535000.0,3,2.0,1340,1353,3.0,NO,NO,...,0,0,80,2013,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
27884,9485700180,2021-08-12,520000.0,3,2.0,1120,796,2.0,NO,NO,...,380,0,300,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
16878,9485700183,2021-08-18,535000.0,3,2.0,1070,639,2.0,NO,NO,...,390,0,300,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
9114,4302200098,2021-08-28,605000.0,3,2.5,1580,1853,3.0,NO,NO,...,0,0,440,2018,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
27104,9485700179,2021-09-02,525000.0,3,2.0,1070,639,2.0,NO,NO,...,390,0,300,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Autumn
5090,4365700220,2021-10-07,515000.0,3,3.0,1300,1366,2.0,NO,NO,...,320,0,80,2007,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Winter
18510,1773100965,2021-10-18,575000.0,3,2.5,1350,1234,2.0,NO,NO,...,480,290,60,2007,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Winter
29662,1773100964,2022-04-08,485000.0,3,2.5,1350,1286,2.0,NO,NO,...,480,290,60,2007,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
22043,2113200576,2022-04-12,730000.0,3,3.0,1430,1060,2.0,NO,NO,...,500,170,0,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
17601,2113200575,2022-04-13,715000.0,3,3.0,1430,1058,2.0,NO,NO,...,500,170,0,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
29152,1773600116,2022-04-23,595000.0,2,2.0,1050,2840,3.0,NO,NO,...,0,0,270,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
12642,1773600111,2022-04-23,570000.0,2,2.0,1050,560,3.0,NO,NO,...,0,0,270,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
10293,1773600113,2022-04-23,539950.0,2,2.0,1050,560,3.0,NO,NO,...,0,0,270,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
20912,1773600114,2022-04-23,549950.0,2,2.0,1050,560,3.0,NO,NO,...,0,0,270,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
15130,1773600112,2022-04-23,569950.0,2,2.0,1050,560,3.0,NO,NO,...,0,0,270,2021,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer
21075,1773600100,2022-05-03,837000.0,3,2.5,1620,2032,3.0,NO,NO,...,0,0,75,2014,0,"Delridge Way Southwest, Seattle, Washington 98...",47.54391,-122.36055,98106,Summer

In [8]:
# Naively, keep the latest transaction with greatest id number for each address
df = df.sort_values(['date', 'id']).groupby(['address']).last().reset_index()

In [9]:
# Look at numerical attributes
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,lat,long,zipcode
count,2.905400e+04,2.905400e+04,29054.000000,29054.000000,29054.000000,2.905400e+04,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000,29054.000000
mean,4.530570e+09,1.114013e+06,3.438563,2.331280,2133.611310,1.728624e+04,1.511066,1828.061816,481.882185,337.350210,216.274179,1973.611930,94.298272,47.542621,-122.213681,98077.273560
std,2.879268e+09,8.971113e+05,0.978442,0.897079,977.470404,6.144338e+04,0.543157,880.604580,587.025960,286.301149,247.124963,31.597829,423.757484,0.146274,0.143640,54.727108
min,1.000055e+06,2.736000e+04,0.000000,0.000000,3.000000,4.020000e+02,1.000000,2.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,47.155265,-122.526650,98001.000000
25%,2.085200e+09,6.450000e+05,3.000000,2.000000,1440.000000,5.000000e+03,1.000000,1190.000000,0.000000,0.000000,40.000000,1952.000000,0.000000,47.428781,-122.327710,98032.000000
50%,3.864200e+09,8.700000e+05,3.000000,2.500000,1950.000000,7.588000e+03,1.500000,1580.000000,0.000000,400.000000,140.000000,1976.000000,0.000000,47.556928,-122.232875,98059.000000
75%,7.280300e+09,1.312470e+06,4.000000,3.000000,2640.000000,1.080000e+04,2.000000,2290.000000,960.000000,520.000000,310.000000,2001.000000,0.000000,47.671840,-122.126923,98117.000000
max,9.904000e+09,3.075000e+07,13.000000,10.500000,15360.000000,3.253932e+06,4.000000,12660.000000,8020.000000,3580.000000,4370.000000,2022.000000,2022.000000,47.789830,-121.163960,98354.000000

In [10]:
# Analyze discrete numerical columns
print(df.bathrooms.value_counts(),
      df.bedrooms.value_counts(),
      df.floors.value_counts(), sep = '\n\n')

2.5     8123
2.0     6877
1.0     4567
3.0     4059
3.5     2134
1.5     1759
4.0      635
4.5      522
5.0      142
5.5      101
6.0       45
0.0       30
6.5       25
7.0       12
7.5       11
0.5        5
8.0        2
9.5        2
10.5       1
10.0       1
8.5        1
Name: bathrooms, dtype: int64

3     12259
4      9486
2      3492
5      2765
6       493
1       380
7        80
0        43
8        37
9        14
10        3
13        1
11        1
Name: bedrooms, dtype: int64

1.0    13947
2.0    11638
1.5     2435
3.0      798
2.5      205
4.0       24
3.5        7
Name: floors, dtype: int64

In [11]:
# Create function to squash tiny outlier groups at extreme ends of discrete categories
def squash_groups(value, floor, ceiling):
    if value < floor:
        return floor
    elif value > ceiling:
        return ceiling
    return value

groups_squashed = df.copy()

groups_squashed.bathrooms = groups_squashed.bathrooms.apply(lambda x: squash_groups(x, 1.0, 6.0))
groups_squashed.bedrooms = groups_squashed.bedrooms.apply(lambda x: squash_groups(x, 1, 7))
groups_squashed.floors = groups_squashed.floors.apply(lambda x: squash_groups(x, 1.0, 3.0))

In [12]:
# Analyze categorical groups
print(groups_squashed.waterfront.value_counts(),
      groups_squashed.greenbelt.value_counts(),
      groups_squashed.nuisance.value_counts(),
      groups_squashed.view.value_counts(),
      groups_squashed.condition.value_counts(),
      groups_squashed.grade.value_counts(),
      groups_squashed.heat_source.value_counts(),
      groups_squashed.sewer_system.value_counts(),
      groups_squashed.zipcode.value_counts(), sep = '\n\n')

NO     28538
YES      516
Name: waterfront, dtype: int64

NO     28284
YES      770
Name: greenbelt, dtype: int64

NO     24080
YES     4974
Name: nuisance, dtype: int64

NONE         25530
AVERAGE       1890
GOOD           868
EXCELLENT      551
FAIR           215
Name: view, dtype: int64

Average      17457
Good          8046
Very Good     3258
Fair           229
Poor            64
Name: condition, dtype: int64

7 Average        11524
8 Good            8755
9 Better          3564
6 Low Average     2854
10 Very Good      1349
11 Excellent       402
5 Fair             392
12 Luxury          122
4 Low               51
13 Mansion          24
3 Poor              13
1 Cabin              2
2 Substandard        2
Name: grade, dtype: int64

Gas                  20083
Electricity           5871
Oil                   2898
Gas/Solar               93
Electricity/Solar       56
Other                   20
Oil/Solar                4
Name: heat_source, dtype: int64

PUBLIC                24686
PRIVATE                4348
PRIVATE RESTRICTED        6
PUBLIC RESTRICTED         2
Name: sewer_system, dtype: int64

98042    992
98038    857
98115    756
98103    743
98117    743
        ...
98354     23
98288     19
98224      4
98251      3
98050      2
Name: zipcode, Length: 78, dtype: int64

In [13]:
# Convert binary categorical columns to 0s and 1s
def convert_binary_column(value):
    if value.lower().strip() == 'no':
        return 0
    return 1

binaries_converted = groups_squashed.copy()

binaries_converted.waterfront = binaries_converted.waterfront.apply(lambda x: convert_binary_column(x))
binaries_converted.greenbelt = binaries_converted.greenbelt.apply(lambda x: convert_binary_column(x))
binaries_converted.nuisance = binaries_converted.nuisance.apply(lambda x: convert_binary_column(x))

In [14]:
all_columns_cleaned = binaries_converted.copy()

# Convert nan heat sources into Other category, merge Oil/Solar into Other due to small sample size
all_columns_cleaned.heat_source.fillna('Other', inplace = True)
all_columns_cleaned.heat_source = all_columns_cleaned.heat_source.apply(lambda x: x if x != 'Oil/Solar' else 'Other')

# Convert nan sewer system into PUBLIC, drop distinction between restricted/unrestricted
all_columns_cleaned.sewer_system.fillna('PUBLIC', inplace = True)
all_columns_cleaned.sewer_system = all_columns_cleaned.sewer_system.apply(lambda x: x.split()[0])

# Select only numerical value from grade, then group 1-3 together and 12-13 together, recenter with 5 = average at middle
all_columns_cleaned.grade = all_columns_cleaned.grade.apply(lambda x: squash_groups(int(x.split()[0]), 3, 12) - 2)


# Year renovated is ~95.4% null values, likely due to lack of input, id is no longer needed
# Date, lat and long no longer needed given zipcode
col_to_drop = ['id', 'yr_renovated', 'date', 'lat', 'long']

all_columns_cleaned.drop(col_to_drop, axis = 1, inplace = True)

# Write cleaned data set without additional encoding to parquet file for further use in other notebooks
all_columns_cleaned.to_parquet('../data/cleaned/cleaned_data.parquet')